ul{
    list-style-type: square;
}
li{
    font-size: larger;
}
body{
    background-image: linear-gradient(to bottom,red,yellow,green,blue);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    user-select: none;
    overflow: hidden;

}